@import "../utils/mixins";
@import "./variables";

html,
body {
  min-height: 100vh;
  font-family: $font-default;
  font-size: $font-size-default;
  color: $color-default;
}

img {
  width: 100%;
}

a {
  color: $color-default;
  transition: all .15s ease;

  &:focus {
    color: $color-default;
  }

  &:hover,
  &.active {
    color: $color-primary;
  }
}

input,
select {
  padding: 15px 15px 13px;
  margin-bottom: 15px;
  width: 100%;
  background: #FFF;
  border: 0;
  outline: 0;
  line-height: 1;
  transition: all .15s ease, box-shadow .3s ease;
  cursor: pointer;

  &:focus {
    box-shadow: 0 0 0 1px #dadada;
  }

  &[disabled] {
    background: #e6e6e6;
  }
}

ul {
  margin: 0;
  list-style: none;
}

.hd {
  input {
    border: 1px solid #ccc;
    box-shadow: none;
  }
}

.btn {
  color: #fff;
  min-width: 160px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  padding: 10px 15px;
}

.error-message {
  color: #ff4136;
}
