$color-primary: #4A90E2;
$color-gray: #9D9D9D;
$color-danger: #F35656;
$color-default: #282828;
$color-black: #404040;
$color-white: #FFFFFF;
$color-red: #FF0000;

$color-border: #E2E2E2;
$color-select: #F4F4F4;
