$color-primary: #4A90E2;
$color-gray: #9D9D9D;
$color-danger: #F35656;
$color-default: #282828;

$global-max-width: 1000px;
$font-default: 'Open Sans', sans-serif;
$font-size-default: 14px;
$breakpoints: (
        small: 544px,
        medium: 768px,
);


