@import "../base/variables";
@import "../utils/mixins";

.auth-form {
  margin: 15% 0 0 0;
  background: #FFF;
  padding: 50px;
  border-radius: 3px;
}


header {
  background: #FFF;
  z-index: 10;
  border-bottom: 1px solid #EEE;
  padding: 10px;

  .row {
    max-width: 1200px;
  }

  .logo {
    float: left;
    padding: 0 15px;

    img {
      max-height: 70px;
      width: auto;
    }
  }

  dl {
    float: left;
    margin: 0 15px;
    padding: 10px 5px 10px 15px;
    border-left: 1px solid #EEE;

    dt {
      margin: 0;
      text-transform: uppercase;
      font-size: 24px;
      line-height: 1;
    }

    dd {
      font-size: 12px;
      color: #999;
    }
  }

  div.search {

    input {



      &:focus {
        box-shadow: none;
      }
    }
  }

  .login-block {
    text-align: right;
    a {
      margin-left: 10px;
      font-size: 12px;
    }
  }


  .menu {

    .sub-menu {
      position: absolute;
      display: none;
      min-width: 250px;
      margin: 10px 0 0 -15px;
      background: #FFF;
      z-index: 10;
      box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.12);

      a {
        font-size: 12px;
        font-weight: normal;
      }


      li {
        padding: 10px 10px 10px 40px;
      }
    }

    .search-bar {
      margin-left: 20px;
      border-radius: 99px;
      overflow: hidden;
    }

    .menu-link {

      padding-right: 20px;

      > a {
        white-space: nowrap;
        font-weight: bold;
        text-transform: uppercase;
        background: #dc2828;
        color: #FFF;

        i {
          margin-right: 10px;
        }
      }

      a:hover {
        ul {
          display: block;
        }
      }
    }
  }
}

body {
  background: #fafafa;
}


.event {
  border-radius: 3px;
  background: #FFF;
  margin: 0 20px 50px 20px;
  padding: 0;
  transition: all .25s ease;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.1);

  .avatar {
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/ce54bf11889067.562541ef7cde4.png);
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: 30px;
    margin-right: 10px;
    float: left;
    background-repeat: no-repeat;
  }

  dl {
    margin: 0;

    dt,
    dd {
      margin: 0;
    }

    dt {
      width: 90%;
    }

    dd {
      margin: 10px 0 0 0;
      span {
        font-size: 12px;
      }
    }
  }

  a:not(.button) {
    border-bottom: 1px solid rgba(4, 125, 202, 0.16);
    font-weight: bold;
    font-size: 18px;
    color: #047dca;
  }

  &:hover {
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
  }

  h3,
  .text,
  .actions {
    padding: 15px;
  }

  .actions {
    margin: 0 !important;
    border-top: 1px solid #EEE;
  }

  h3 {
    font-size: 16px;
    margin: 0;
    padding-bottom: 0;
    font-weight: bold;
  }

  .text {

    img {
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 15px;
    }
  }
}

aside {
  margin-top: 25px;
  border-radius: 3px;
  background: #FFF;
  padding: 0;

  .event {
    margin: 0;
    box-shadow: none !important;
    
    dt {
      width: 100%;
    }

    a:not(.button) {
      font-size: 14px;
      font-weight: normal;
    }
  }
}

.section-title {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px;
  border-bottom: 1px solid #EEE;
  font-weight: bold;
}