@import "../base/variables";
@import "../utils/mixins";



.logo {
  text-align: center;
  display: block;
  float: right;
  width: 80px;
  height: 80px;
  background: #4bbfe4;
  margin: 15px 0 0 0;
  border-radius: 99px;
  overflow: hidden;

  img {
    width: 100%;
    padding: 5px;
  }
}

header {
  height: 60px;

  h4 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 2px 0 0 0;

    .slogan {
      display: block;
      font-size: 9px;
      letter-spacing: 1px;
      font-weight: normal;
      margin: 5px 0;
      opacity: 0.75;
    }
  }

  .search {
    background: #eaeaea;
    transition: all .25s ease;
    border: 0;
    border-radius: 99px;

    input {
      box-shadow: none;
    }

    &.active {
      background: #FFF;
    }
  }

}