@import "../base/variables";




/*--------------------------------------------------------------------------------------------------------------------*/
/* PAGE ANIMATION                                                                                                     */
/*--------------------------------------------------------------------------------------------------------------------*/
.fade-in-enter {
  width: 100%;
  background: #FFF;
  overflow: hidden;
  position: absolute;
  transition: all .5s ease;
  z-index: 500;
  box-shadow: -22px 0 22px rgba(0, 0, 0, 0.05);
  opacity: 0;
}

.fade-in-enter-active {
  opacity: 1;
}

.page-enter {
  transform: translateX(100%);
  width: 100%;
  background: #FFF;
  overflow: hidden;
  position: fixed;
  transition: all .5s ease;
  z-index: 500;
  box-shadow: -22px 0 22px rgba(0, 0, 0, 0.05);
}

.page-enter.page-enter-active {
  transform: translateX(0);
}

.page-leave, .fade-in-leave {
  width: 100%;
  overflow: hidden;
  position: fixed;
}

.page-leave.page-leave-active {
}

//--------------------------------------------------------------------------------------------------------------------
