@import "../base/variables";

.row {
  max-width: $global-max-width;
}

main {
  display: flex;
  flex: 1;
}

.page {
  display: flex;
  flex-direction: column;
  background-color: $color-white;

  .page-content {
    width: 100%;
    max-width: $global-max-width;
    margin-left: auto;
    margin-right: auto;
  }
}

.one-column-layout,
.two-column-layout {
  margin: 0 auto;

  .page-content {
    padding: 25px;
    position: relative;

  }

  .sidebar-left {
    border-left: 1px solid $color-border;
  }
}


.column {
  min-width: unset;
}

@media (max-width: $global-max-width - 2) {
  .one-column-layout,
  .two-column-layout {
    .page-content {
      border: 0;
    }

    // TODO:
    .sidebar-left {
      border-left: 0;
      border-right: 1px solid $color-border;
    }
  }
}

/*--------------------------------------------------------------------------------------------------------------------*/
/* PAGE ANIMATION                                                                                                     */
/*--------------------------------------------------------------------------------------------------------------------*/
.fade-in-enter {
  width: 100%;
  background: #FFF;
  overflow: hidden;
  position: absolute;
  transition: all .5s ease;
  z-index: 500;
  box-shadow: -22px 0 22px rgba(0, 0, 0, 0.05);
  opacity: 0;
}

.fade-in-enter-active {
  opacity: 1;
}

.page-enter {
  transform: translateX(100%);
  width: 100%;
  background: #FFF;
  overflow: hidden;
  position: fixed;
  transition: all .5s ease;
  z-index: 500;
  box-shadow: -22px 0 22px rgba(0, 0, 0, 0.05);
}

.page-enter.page-enter-active {
  transform: translateX(0);
}

.page-leave, .fade-in-leave {
  width: 100%;
  overflow: hidden;
  position: fixed;
}

.page-leave.page-leave-active {
}

//--------------------------------------------------------------------------------------------------------------------
