.login,
.signup {
  min-height: 100vh;
  padding-bottom: 50px;

  .form-field {
    small {
      display: none;
    }

    input {
      background: #F1F1F1;


      &[name="email"] {
        margin-bottom: 25px;
      }
    }
  }

  .link-block {
    text-align: center;
    color: #AAA;
    margin: 2rem 0;
  }


  h4 {
    margin:2rem 0;
  }
}