@import "../base/variables";

.search {
  position: relative;
  width: 100%;
  border: 0;
  border-radius: 5px;
  text-align: center;
  color: $color-gray;
  background-color: #EEE;
  cursor: text;
  min-width: 320px;

  .search-content {
    display: inline-block;
    position: relative;
    width: 100%;
    transition: all .5s;

    &::before {
      content: "\E949";
      position: absolute;
      top: 50%;
      margin-top: -10px;
      line-height: 20px;
      height: 20px;
      left: 14px;
      font-family: "HBC";
    }

    input {
      width: 100%;
      margin: 0 0 0 15px;
      padding: 10px 20px;
      box-sizing: border-box;
      border: 0;
      outline: none;
      line-height: 1;
      background: none;
      color: #222;
    }
  }

  .cancel {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 10px;
    cursor: pointer;

    &::before {
      content: '\e92c';
      font-family: "HBC";
      font-size: $font-size-default;
    }
  }

  &.active {
    .search-content {
      min-width: 100%;
    }

    .cancel {
      display: block;
    }
  }
}
