@import "../base/variables";

body {
  background: #fafafa;
}

.block {
  background: #FFF;

  &-header {

    .title {
      margin: 0;
      background: #FFF;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
      padding: 15px;
    }
  }
}

.tape {
  padding: 15px 0 0 0;
}

.date {
  font-weight: normal;
  font-style: italic;
  color: #989898;
  font-size: 12px;
}

.tags-cloud {
  background: #FFF;
  margin-bottom: 15px;
  padding: 1.25rem 1.25rem 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  h5 {
    font-size: 16px;
    font-weight: 600;
  }

  a {
    color: #2675c1;
    margin-right: 7px;
    font-weight: 600;

    small {
      display: block;
      font-size: 12px;
      color: #777;
      margin: 0 0 5px 0;
    }
  }
}

.event-card,
.event-card-simple {
  border-radius: 0;
  border: none;
  margin-bottom: 45px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  a:not(.button) {
    font-weight: bold;
    font-size: 16px;
    color: #047dca;
  }

  .card-title {
    margin-bottom: .5rem;

    h3 {
      font-size: 16px;
      margin: 0 0 15px 0;
      padding-bottom: 0;
      font-weight: bold;

      a {
        font-size: 18px;
      }
    }
  }

  .text {

    img {
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 15px;
    }
  }

  .card-footer {
    margin: 0;
    border-radius: 0;
    background: #FFF;
    padding: 15px 0;

    .nav {
      float: right;
    }
  }

  .user {
    .avatar {
      background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/ce54bf11889067.562541ef7cde4.png);
      width: 30px;
      height: 30px;
      display: inline-block;
      background-size: 30px;
      margin-right: 10px;
      float: left;
      background-repeat: no-repeat;
    }

    dl,
    dt,
    dd {
      margin: 0;
      line-height: 1;
    }

    span,
    dd {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 11px;
      display: block;
      padding: 2px 0 4px 0;
    }
  }

  .views {
    border-right: 1px solid #e4e4e4;
    margin-right: -1rem;
    padding-right: 1rem;
    padding: 4px 1rem 4px 0;
  }

}

.like-dislike,
.views {

  span {
    width: 50%;
    display: inline-block;
    line-height: 1.6rem;
    font-size: 10px;
    color: #888;
    padding: 0 0 0 15px;
  }

  .icons {
    font-size: 16px;
    margin-right: 5px;
    color: #AAA;
    position: relative;
    top: 3px;
  }
}

.event-card-simple {
  margin-bottom: 0;

  a:not(.button) {
    font-size: $font-size-default;
    display: block;
    line-height: $font-size-default + 4;
    margin-bottom: .5rem;
  }

  .date {
    display: block;
  }
}

.comments {
  margin: 0 20px;
  background: #FFF;
  padding: 20px;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.1);

  .comment {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #EEE;

    .date {
      color: #999;
      font-weight: normal;
    }

    img {
      border-radius: 99px;
      width: 70px;
    }

    dl,
    dt,
    dd {
      margin: 0;
    }

    .text {
      padding-left: 0;
    }

  }

}

aside {
  margin-top: 15px;
  padding: 0;

}

.caption {
  text-align: right;
  margin: 30px 0 0;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
}

.menu {
  clear: both;
  margin: 15px 0 0 0;
  padding: 0;
  text-align: right;

  &.offset {
    margin-top: 50px;
  }

  li {
    a {
      font-size: 11px;
      text-transform: uppercase;
      color: #adadad;
      font-weight: bold;
      line-height: 2rem;
    }
  }
}

.nav {
  .options {
    margin: 0 !important;
    float: right;
    padding: 0;
  }
}